/*  Css custom for Pagination */
/* Start*/
select.pageSize, select.pageSize option {
    border: 1px solid #ddd;
    padding: 0.3em 0;
    width: 3em;
    background: transparent;
    margin: 0.2em 0;
    font-size: 0.9rem;
}


.pagination ul {
    list-style: none;
    margin: 0;
    display: flex;
}

    .pagination ul li {
        width: 2em;
        border: 1px solid #ddd;
        border-left: none;
        text-align: center;
        padding: 0.2em 0.1em 0.1em 0.1em;
        cursor: pointer;
        font-size: 0.9em;
        color: #23527c;
    }

        .pagination ul li i {
            font-size: 0.65em;
            opacity: 0.5;
            color: #337ab7;
        }

        .pagination ul li:hover {
            opacity: 1;
        }

            .pagination ul li:hover i {
                opacity: 1;
                color: #fff;
            }

        .pagination ul li:first-child {
            border: 1px solid #ddd;
        }

        .pagination ul li.active, .pagination ul li:hover {
            background: #337ab7;
            border: 1px solid #337ab7;
            color: #fff;
        }

.pagination span {
    font-size: 0.85em;
}

    .pagination span.totalData {
        /*color:#23527c;*/
    }
/* End */
* {
    margin: 0px;
    padding: 0px;
    font-size: 14px;
}

.sidebar-dark-primary .nav-sidebar > .nav-item > .nav-link.active,
.sidebar-light-primary .nav-sidebar > .nav-item > .nav-link.active {
    background-color: #4b4e51 !important;
    color: #FFF !important;
}

.sidebar {
    height: calc(100% - (3.5rem + 1px));
    overflow-y: auto;
    padding: 0rem !important;
}

.nav-pills .nav-link {
    border-radius: 0rem !important;
}

.nav-treeview {
    border-right: .3rem solid #029002 !important;
    border-left: .5rem solid #029002 !important;
    border-bottom: .1rem solid #4b4e51 !important;
}
/*
.nav-item {
    border-bottom: .01rem solid #4f5962 !important;
}*/

a {
    color: #337ab7;
    text-decoration: none;
    background-color: transparent;
}

.table th, .table td {
    padding: 0.2em 1em 0.1em 1em;
    font-size: 0.95rem;
    vertical-align: middle;
    height: 2.5rem;
}



.table thead th i {
    font-weight: 600;
    opacity: 0.5;
    font-size: .95rem;
    cursor: pointer;
}

.table button i {
    font-size: 0.9em;
}

.table-bordered thead td, .table-bordered thead th {
    border-bottom: 0;
}

.table thead th:first-child {
    /* vertical-align: bottom !important; */
}

.table thead th {
    padding-top: 0.5rem;
    vertical-align: middle;
}

.btn-event {
    color: #fff;
    padding: 0.2em 0.3em;
    margin: auto;
    border: none;
    width: 1.8em;
    opacity: .9;
}

table tr td:last-child, table tr th:last-child {
    width: 120px;
}

.btn-tools {
    color: #fff;
    padding: 0.2em 0.6em;
    border: none;
    opacity: .9;
    font-size: .9rem;
    outline: none;
    margin: .095rem .2rem .015rem .2rem;
}

    .btn-tools:focus {
        outline: none;
    }

    .btn-tools i {
        font-size: .85rem;
    }

.btn-green {
    background: #26a69a;
}

.btn-yellow {
    background: #c49f47;
}

.btn-red {
    background: #cb5a5e;
}

.d-relative {
    position: relative;
    width: 100%;
}

    .d-relative .table-event {
        position: absolute;
        top: 0;
        right: 0;
        visibility: visible;
        background: #f4f6f9;
    }

    .d-relative:hover .table-event {
        visibility: visible;
        opacity: 1;
        transition: opacity 1s linear;
    }

.d-scroll {
    width: 100%;
    overflow: scroll;
    border-left: 1px solid #e0e4e7;
    border-right: 1px solid #e0e4e7;
}


.list-data .table, .table-event .table {
    margin-bottom: 0;
}

.list-data table td, .list-data table th {
    white-space: nowrap;
}

.list-data table tr td:first-child, .list-data table tr th:first-child, .list-data table tr td:nth-child(2) {
    width: 2rem;
    padding: 0.1em 0.5em;
    text-align: center;
}

.list-data table td input[type="checkbox"] {
    margin-top: 0.3em;
}
/* width */
.d-scroll::-webkit-scrollbar {
    height: 1em;
}

/* Track */
.d-scroll::-webkit-scrollbar-track {
    box-shadow: inset 0 0 4px #d1d1d1;
}

/* Handle */
.d-scroll::-webkit-scrollbar-thumb {
    background: #b0b0b0;
}

    /* Handle on hover */
    .d-scroll::-webkit-scrollbar-thumb:hover {
        background: #999999;
    }



.table-event .table tr td:last-child {
    text-align: right;
    padding-right: 0.3em;
}

.list-data table thead .fix-thead {
    position: fixed;
    top: 0;
}

.content-header {
    padding: 10px .5rem !important;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #eddfdf21;
}

.table-hover tbody tr:hover {
    color: #212529;
    background-color: rgba(0,0,0,.075);
    cursor: pointer !important;
}

table thead th {
    cursor: pointer;
}

    table thead th i {
        margin-right: 8px;
    }

.backgound-hover {
    background-color: rgba(0,0,0,.075) !important;
}

.da-xoa {
    background: #cb5a5e !important;
    color: rgba(255, 255, 255, 0.76) !important;
}

.trang-thai {
    color: #cb5a5e !important;
}
/*nút bấm*/
#add-an-object .btn {
    display: inline-block;
    font-weight: 400;
    color: #fff;
    font-size: .95rem;
    line-height: 1.2;
    border-radius: 0rem !important;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

    #add-an-object .btn i {
        font-size: .8rem;
        margin-right: .25rem;
        color: #ddd;
    }

table button:focus {
    outline: none;
}
/*--nút bấm*/
.pagination ul {
    display: flex;
}

    .pagination ul li {
        width: 2em;
        padding: .2em;
        font-size: 1em;
        border: 1px solid #e1e1e1;
        border-left: 0;
        color: #31466f;
        text-align: center;
        transition: .2s;
        cursor: pointer;
    }

        .pagination ul li:first-child {
            border-left: 1px solid #e1e1e1;
        }


        .pagination ul li i {
            font-size: .8em;
        }

        .pagination ul li.active, .pagination ul li:hover {
            background: #2a2a2a;
            border: 1px solid #2a2a2a;
            color: #fff;
        }

.form-control {
    border-radius: 0 !important;
    border: 1px solid #ced4da5e !important;
    border-radius: 0;
}

#show-img {
    border: 1px solid #d1d1d1;
    width: 100%;
    max-height: 14rem;
}

    #show-img:hover {
        cursor: pointer;
        border: 1px solid #999;
    }

.textarea-resize-none {
    resize: none;
}

.input-group-text {
    border-radius: 0;
}

.image-details {
    max-width: 100%;
}

.swal-modal {
    border-radius: 0;
}

.swal-button {
    border-radius: 0;
}

.modal-content {
    border-radius: 0;
}

button {
    border-radius: 0 !important;
}

.img-size {
    border: 1px solid #d1d1d1;
    width: 100%;
    height: 14em;
}

    .img-size:hover {
        cursor: pointer;
        border: 1px solid #999;
    }

.img-details {
    width: 100%;
    height: 14em;
}


.sweet-scrollbars {
    max-height: 150px;
    overflow-y: auto;
}

    .sweet-scrollbars::-webkit-scrollbar {
        width: 8px; /* width of the entire scrollbar */
    }

    .sweet-scrollbars::-webkit-scrollbar-track {
        background: #dedad2; /* color of the tracking area */
        border-radius: 20px; /* roundness of the scroll thumb */
    }

    .sweet-scrollbars::-webkit-scrollbar-thumb {
        background-color: #636363; /* color of the scroll thumb */
        border-radius: 20px; /* roundness of the scroll thumb */
        border: 3px solid #636363; /* creates padding around scroll thumb */
    }


.modal-show {
    display: block;
}

.body-login {
    background: #00000047;
}

.checkSeo .modal-body .progress-bar {
    transition: all 0.5s ease-in-out;
}

    .checkSeo .modal-body .progress-bar[data-status="perfect"], .checkSeo .modal-body .progress-bar[data-status="hight"] {
        background-color: #5bd160;
    }

    .checkSeo .modal-body .progress-bar[data-status="normal"] {
        background-color: #FFD54F;
    }

    .checkSeo .modal-body .progress-bar[data-status="low"] {
        background-color: #F44336;
    }

iframe {
    width: 100%;
}

.img-index {
    width: 2em;
    height: 2em;
}

.title-collapse {
    background: #fff;
    padding: 0.5em;
    cursor: pointer;
}

.tab-content {
    margin-top: -16px;
    background: #fff;
    padding: 1em;
}

.collapse {
    background: #fff;
    padding: 1em 1em 0em 1em;
}

.nav-item {
    background-color: #0101;
}

.nav-tabs .nav-link {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/*SEO*/

.progress-bar {
    transition: all 0.5s ease-in-out;
}

    .progress-bar[data-status="perfect"], .checkSeo .modal-body .progress-bar[data-status="hight"] {
        background-color: #5bd160;
    }

    .progress-bar[data-status="normal"] {
        background-color: #FFD54F;
    }

    .progress-bar[data-status="low"] {
        background-color: #F44336;
    }
/*End SEO*/
.table td, .table th, label, p, h1, h2, h3, h4, h5, h6, a, div, .main-footer, span {
    font-family: 'Muli', sans-serif;
}

.input-group-text {
    border-radius: 0 !important;
}

.input-group-prepend, .input-group-prepend > span {
    width: 85px !important;
}

.meta-span .input-group-prepend, .meta-span .input-group-prepend > span {
    width: 125px !important;
}

.modal-footer .btn {
    display: inline-block;
    font-weight: 400;
    color: #fff;
    font-size: .95rem;
    line-height: 1.2;
    border-radius: 0rem !important;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.span-img span {
    position: absolute;
}


.admins-h2 {
    margin: -1rem;
    padding: .8rem;
}

.user-panel .info {
    display: flex;
    justify-content: space-around;
}

    .user-panel .info .badge {
        padding: .4em .5em !important;
        border-radius: .15rem !important;
    }

.nav-sidebar .nav-treeview .nav-icon {
    font-size: .9rem !important;
}

.objInfor label {
    color: #0000007a;
}

.list-img img {
    height: 60px;
    width: 90px;
    margin-bottom: 8px;
    margin-right: 8px;
}

.list-img .img {
    position: relative;
}

    .list-img .img i {
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 4px);
        color: #fff;
    }

.addImage {
    border: none;
    background: transparent;
    color: #03A9F4;
}

    .addImage:focus {
        outline: none;
    }
